<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>--- TODO ---</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/fontawesome.min.css">
  </head>
  <body>

    <h1>Admissions</h1>

    <p>This is Admission Page</p>



    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"  placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="image">Upload Photo</label>
        <input type="file" id="image" accept="image/*">
      </div>
      <div class="form-group">
        <label for="fathername">Father Name</label>
        <input type="text" class="form-control" id="fathername" placeholder="Father Name">
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" placeholder="Age">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <textarea class="form-control" id="address"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>



    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>